.home-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  padding: 80px 0;
  margin: auto;
  user-select: none;
  background-color: #f2f2f2;

  &__wrapper {
    flex-grow: 1;
    padding: 80px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #0000000d;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding: 40px 0 10px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    font-weight: 700 !important;
    color: #2c6775 !important;
    text-align: center;
  }

  &__description {
    width: 80%;
    margin: auto;
    margin-bottom: 60px !important;
    text-align: center;
  }

  &__divider {
    padding: 0 16px;
    margin-bottom: 18px !important;
    font-size: 18px !important;
    color: #234a53 !important;
  }

  &__search {
    width: 320px;
    padding: 0 16px;
    margin-bottom: 20px;
  }
}

.table {
  &__info {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(33 54 59 / 85%);

    // span {
    //   font-size: 12px;
    // }
  }
}

@media screen and (width <= 1400px) {
  .home-page {
    width: 90%;

    &__wrapper {
      padding: 40px;
    }
  }
}
