.app {
  max-height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  background: rgb(255 255 255);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgb(176 183 185 / 30%);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    padding: 8px 0 12px;
    margin: auto;
  }

  &__logo {
    cursor: pointer;

    img {
      width: 108px;
    }
  }

  &__user {
    margin-top: 10px;
    cursor: pointer;

    img {
      width: 34px;
      filter: grayscale(20%);
    }
  }
}

.layout {
  height: calc(100vh - 75.75px);
  overflow: auto;
  background-color: #f2f2f2;
}

.layout::-webkit-scrollbar {
  width: 11px;
}

.layout::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.layout::-webkit-scrollbar-thumb {
  background-color: #3b727fc2;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
}

@media screen and (width <= 1400px) {
  .header {
    &__wrapper {
      width: 90%;
    }
  }
}
