.table {
  &__card {
    display: flex;
    gap: 32px;
    align-items: center;

    &__photo {
      width: 90px;
      height: 90px;
      border-radius: 4px;
      box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    }

    &__description {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-size: 22px;
      font-weight: 600;
      color: #305b65;
    }

    &__author {
      font-size: 14px;
      color: rgb(184 184 184);
    }

    &__tags {
      margin-top: 8px;
    }
  }
}
